@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --bg-color: rgb(8, 15, 43);
    --light-bac: hsl(228, 69%, 30%);
    --main-color: #FFFFFF;
    --main-pink: #DC1456;
    --dark-pink: #431738;
    --main-yellow: #F1BA31;
    --main-blue: #0859F8;
    --main-orange: #EF5629;
    --main-grey: #2B3242;
    --main-font:   'Open Sans', sans-serif;
}
* { 
    box-sizing: border-box; 
} 
 
html { 
    width: 100%; 
    min-height: 100%; 
} 
 
body { 
    margin: 0; 
    padding: 0; 
    background-color: var(--bg-color);
    min-height: 90vh;
    color: var(--main-color);
    font-family: var(--main-font);
}
.background-blur {
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.blur-background {
    background: rgba(255, 255, 255, 0.04);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
/* ranger */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}
input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--main-yellow);
    height: .8rem;
}

input[type="range"]::-moz-range-track {
    background-color: var(--main-yellow);
    height: 1rem;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -7px; 
    background-color: var(--main-pink);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
 }
 input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0;
    background-color: var(--main-pink);
    height: 2rem;
    width: 1rem;
}