@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --brown: #d79922;
    --kinda-pink: #efe1ba;
    --red: #f13c1f;
    --dark-blue: #4056a1;
    --light-blue: #c5cbe3;
}
@layer components {
    .card-tate {
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    .tate-color {
        background: linear-gradient(to bottom, #e74142, #e84041);
    }
}
body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    @apply text-[#0E0B3D] bg-gray-50;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-thumb {
    @apply bg-blue-100;
}
::-webkit-scrollbar-track {
    background: #fff;
}


.toast_parent {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toast {
    z-index: 999;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 25px;
    animation: showToast 0.3s ease-in-out;
}
@keyframes showToast {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.success {
    color: #333;
    background-color: var(--light-blue);
}
.error {
    color: #fff;
    background-color: var(--red);
}
